@import '../../../../styles/settings.scss';

.about_content {
    display: flex;

    .about_img {
        flex: 1;
        background-image: url('https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        object-fit: cover;
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 300px;
        margin: 5px;
        border-radius: 6px;
        box-shadow: 9px 9px 5px rgba(0,0,0,0.1);
    }
    p {
        flex: 1;
        margin: 5px;
        line-height: 39px;
        align-self: center;
    }
}


.title {
    position: relative;
    font-size: 38px;
    margin: 5px 10px;
}

.title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background-color: orange;
    width: 100px;
    height: 3px;
}