@import '../../../styles/settings.scss';

a:hover {
    background-color: $orange;
    color: $white;
}
a {
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s ease-in;
    border-radius: 6px;
    margin: 6px;
    text-decoration: none;
    color: $black;
}
.root {
    position: fixed;
    top: 0;
    background-color: $white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 1000;
}
.links_container {
    display: flex;
    justify-content: space-between;

    
    
    
}
.cart {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}